In [2]:
import numpy as np
import pandas as pd
data = {'a':0,'b':1.,'c':2}
s = pd.Series(data, index=['b','c','d','w'])
print(s)

b    1.0
c    2.0
d    NaN
w    NaN
dtype: float64

Creating a Series from Scalar

In [3]:
s = pd.Series(5, index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [4]:
s.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [5]:
s.values

array([5, 5, 5, 5])

In [7]:
s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [8]:
s[['a','b','c']] # to get multiple values

a    1
b    2
c    3
dtype: int64

In [10]:
s.get_value('a')

1

Data Frams **** Important

In [11]:
data = ['m','n','o','p']
df = pd.DataFrame(data)
print(df)

   0
0  m
1  n
2  o
3  p

In [13]:
data = [['Ramesh', 10], ['Himesh', 22], ['Kamesh', 32]] # dictionary
df = pd.DataFrame(data,columns = ['Name', 'Age'])
print(df)

     Name  Age
0  Ramesh   10
1  Himesh   22
2  Kamesh   32

In [16]:
data = [['Ramesh', 10], ['Himesh', 22], [101, 32]] # dictionary
df = pd.DataFrame(data,columns = ['Name', 'Age'], dtype=float) # chane the data type
print(df)

     Name   Age
0  Ramesh  10.0
1  Himesh  22.0
2     101  32.0

In [21]:
# Craeting a Dataframe from Dictionary of ndarray/Lists
data = {'Name':['Nitine', "Ramesh", "Some"], '0Age':[10,20,30]}
df = pd.DataFrame(data)
print(df)

   0Age    Name
0    10  Nitine
1    20  Ramesh
2    30    Some

In [23]:
# !conda list (To get list of all library versions)

In [26]:
#  Create a DataFrame from List of Dictionaries
data = [{'a':1, 'b':2}, {'a':5, 'b':8, 'c':20}]
df = pd.DataFrame(data)
print(df)

   a  b     c
0  1  2   NaN
1  5  8  20.0