<h1> Read & write data into file</h1>

In [1]:
import pandas as pd

In [5]:
df_out = pd.DataFrame([("Ramesh", 19), ("Suresh", 35)], columns=["Name", 'Age'])
df_out
print("\n Writing data into Excel file \n")
df_out.to_excel("temp.xlsx")
print("\n Reading data from Excel file \n")
pd.read_excel("temp.xlsx")

 Writing data into Excel file


 Reading data from Excel file

     Name  Age
0  Ramesh   19
1  Suresh   35

<h1>Sqlite Data</h1>

In [10]:
import sqlite3 as lite
import sys
con = lite.connect('population.db')

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE IF not exists Population(id INTEGER PRIMARY KEY, country TEXT, population INT)")
    cur.execute("insert into Population VALUES(NULL,'Germany', '8526934')")
    cur.execute("insert into Population VALUES(NULL,'France', '985526934')")
    cur.execute("insert into Population VALUES(NULL,'India', '10598526934')")
    cur.execute("insert into Population VALUES(NULL,'Spain', '852693456')")

In [9]:
query = "SELECT * from Population"
df = pd.read_sql_query(query,con)
print(df)

   id  country  population
0   1  Germany     8526934
1   2  Germany     8526934
2   3  Germany     8526934